src/main/resources/static/front/clean/catalog/2023/2023.pdf filter=lfs diff=lfs merge=lfs -text
src/main/resources/front/clean/catalog/2023/2023.pdf filter=lfs diff=lfs merge=lfs -text
src/main/resources/static/front/clean/catalog/2023.pdf filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
src/main/resources/clean/assets/2023.pdf filter=lfs diff=lfs merge=lfs -text
src/main/resources/static/front/catalog/2023.pdf filter=lfs diff=lfs merge=lfs -text
src/main/resources/static/front/clean/catalog/2024.pdf filter=lfs diff=lfs merge=lfs -text
