<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/front/clean/common :: cleanHead}"></head>

<body class="home home-3 title-3">
	<th:block th:replace="~{fragments/front/clean/common :: sessionCheck(${session.user})}"></th:block>
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v3"
			th:replace="~{fragments/front/clean/common :: cleanHeader(${menuList})}">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main">
						<!--<section class="section m-b-70">
							<div class="item-info horizontal-center text-center vertical-middle main-text-section">
								<div class="content">
									<p class="main-subtitle">휴식과 위안 그리고 간결함에서 오는 아름다움</p>
									<h2 style="letter-spacing: 8px;" class="main-title">HIDDEN <strong>BATH</strong>
									</h2>
								</div>
							</div>
							<div class="block block-sliders layout-6 nav-vertical">
								<div class="slick-sliders" data-autoplay="true" data-dots="false" data-nav="false"
									data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1"
									data-columns1440="1" data-columns="1">
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/newnewnew/1.png"
													alt="Image Slider">
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/newnewnew/6.png"
													alt="Image Slider">
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/newnewnew/8.png"
													alt="Image Slider">
											</div>
										</div>
									</div>

								</div>
							</div>
						</section>-->
						<section class="section">
							<div class="block block-sliders">
								<div class="slick-sliders" data-autoplay="true" data-dots="true" data-nav="false"
									data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1"
									data-columns1440="1" data-columns="1">
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/20240831/w01.png"
													alt="Image Slider">
											</div>
											<div class="section-padding">
												<div class="section-container">
													<div class="item-info horizontal-start vertical-middle">
														<div class="content">
															<div class="subtitle-slider">20%OFF.END MONDAY</div>
															<h2 class="title-slider">Chair Collection</h2>
															<div class="description-slider">Save up to $500 on outdoor
																packages </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/20240831/w02.png"
													alt="Image Slider">
											</div>
											<div class="section-padding">
												<div class="section-container">
													<div class="item-info horizontal-start vertical-middle">
														<div class="content">
															<div class="subtitle-slider">20%OFF.END MONDAY</div>
															<h2 class="title-slider">Interior lighting</h2>
															<div class="description-slider">Save up to $500 on outdoor
																packages </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/20240831/w03.png"
													alt="Image Slider">
											</div>
											<div class="section-padding">
												<div class="section-container">
													<div class="item-info horizontal-start vertical-middle">
														<div class="content">
															<div class="subtitle-slider">20%OFF.END MONDAY</div>
															<h2 class="title-slider">Home office</h2>
															<div class="description-slider">Save up to $500 on outdoor
																packages </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding p-t-50 p-b-50 m-b-0 scroll-section">
							<div class="section-container">
								<div class="section mb-0 border-bottom-0" id="scroll-content">
									<div class="wrap01"></div>
									<div class="wrap02"></div>
									<div class="wrap03"></div>
									<div class="wrap04"></div>
									<div class="container clearfix" id="target-container">
										<div class="parallax-text target01">
											<div class="count-text left">
												<h1>나만의 욕실에 딱 맞는</h1>
												<h1>하나뿐인 그 제품</h1>
												<div class="text-block">
													<h5>색상부터 크기까지</h5>
													<h5>내가 원하는 형태로</h5>
												</div>
												<div class="text-block">
													<h5>딱 맞춰 주문할 수 있는</h5>
													<h5>최고 수준의 비규격 주문 시스템 보유.</h5>
												</div>
											</div>
										</div>

										<div class="parallax-text target02">
											<div class="count-text left">
												<h1>자재의 재단부터</h1>
												<h1>가구의 완성까지</h1>
												<div class="text-block">
													<h5>최고 품질의 원자재의 사용으로</h5>
													<h5>품질이 우수하며</h5>
												</div>
												<div class="text-block">
													<h5>All-in-One 프로세스로</h5>
													<h5>마감까지 완벽하게.</h5>
												</div>
											</div>
										</div>

										<div class="parallax-text target03">
											<div class="count-text left">
												<h1>빠르고 안전한 배송은 물론</h1>
												<h1>최고 수준의 A/S서비스 제공</h1>
												<div class="text-block mt-30">
													<h5>모든 공정을 직접 처리하여</h5>
													<h5>빠르고 안전하게</h5>
													<h5>제품을 전달 해 드립니다.</h5>
												</div>
											</div>
										</div>

										<div class="parallax-text target03">
											<div class="count-text left">
												<h1>디자이너의 손길로</h1>
												<h1>다채롭고 세련되게,</h1>
												<h1 class="mt-45">내 욕실에 딱 맞는</h1>
												<h1>바로 그 가구</h1>
											</div>
										</div>
									</div>
								</div>
								<div class="block block-posts layout-2" id="scroll-mobile">
									<div class="block-widget-wrap">
										<div class="block-title">
											<h2>About HIDDEN BATH</h2>
										</div>
										<div class="block-content">
											<div class="posts-wrap slick-wrap">
												<div class="slick-sliders" data-slidestoscroll="true" data-dots="true"
													data-nav="false" data-columns4="1" data-columns3="1"
													data-columns2="1" data-columns1="3" data-columns="3">
													<div class="post-grid post">
														<div class="post-inner">
															<div class="post-image">
																<a class="post-thumbnail" href="#">
																	<img src="/front/clean/bg/1.png">
																</a>
															</div>
														</div>
													</div>
													<div class="post-grid post">
														<div class="post-inner">
															<div class="post-image">
																<a class="post-thumbnail" href="#">
																	<img src="/front/clean/bg/2.jpg">
																</a>
															</div>
														</div>
													</div>
													<div class="post-grid post">
														<div class="post-inner">
															<div class="post-image">
																<a class="post-thumbnail" href="#">
																	<img src="/front/clean/bg/3.jpg">
																</a>
															</div>
														</div>
													</div>
													<div class="post-grid post">
														<div class="post-inner">
															<div class="post-image">
																<a class="post-thumbnail" href="#">
																	<img src="/front/clean/bg/4.jpg">
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section m-b-0">
							<div class="container">
								<div class="block-title">
									<h2>HIDDEN BATH SNS</h2>
									<p class="info-message">HIDDEN BATH의 새로운 소식들을 만나보세요.</p>
								</div>
							</div>
							<div class="block block-instagram slider no-space">
								<div class="slick-wrap">
									<div class="slick-sliders fullwidth" data-dots="false" data-item_row="1"
										data-nav="false" data-columns4="1" data-columns3="2" data-columns2="3"
										data-columns1="4" data-columns="5">
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/0603-1.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/0605-1.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/0612-1.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/0614-2.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/0624-1.jpg" alt="#">
											</a>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<footer id="site-footer" class="site-footer background"
			th:replace="~{fragments/front/clean/common :: cleanFooter}">
		</footer>
	</div>
	<th:block th:replace="~{fragments/front/clean/common :: cleanScript}"></th:block>
	<th:block th:replace="~{fragments/front/clean/common :: floatingButton}"></th:block>
	<script src="/front/clean/assets/js/gsap.min.js"></script>
	<script src="/front/clean/assets/js/ScrollTrigger.min.js"></script>
	<script src="/front/clean/assets/js/animation.js"></script>
	<script src="/front/clean/assets/js/detail.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
	<script src="/front/clean/assets/js/infinite.js"></script>
</body>

</html>