<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover-active"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/administration/common :: adminHead"></head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="fragments/administration/common :: adminHeader"></header>
		<th:block th:replace="fragments/administration/common :: adminNav"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">사이트관리</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">사이트관리</a></li>
										<li class="breadcrumb-item active">시공사례 이미지등록</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<form 
					method="POST" 
					enctype="multipart/form-data"
					action="/admin/constructionInsert">
						<div class="row">
							<div class="col-lg-8">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">시공사례 이미지</h5>
									</div>
									<div class="card-body">
										<div class="mb-4">
											<p class="text-muted"># 시공사례 원본 이미지를 등록 해 주세요.</p>
											<div>
                                                <input 
                                                class="form-control" 
                                                type="file"
                                                name="construction"
                                                required
                                                accept="image/png, image/jpeg"
                                                >
                                            </div>
                                         </div>
                                         <div class="mb-4">
                                            <p class="text-muted"># 시공사례 썸네일 이미지를 등록 해 주세요.</p>
											<div>
                                                <input 
                                                class="form-control" 
                                                type="file"
                                                name="constructionThumb"
                                                required
                                                accept="image/png, image/jpeg"
                                                >
                                            </div>
										</div>
									</div>
								</div>

								<div class="text-end mb-3">
									<button type="submit" class="btn btn-success w-sm">시공사례 이미지 게시물등록</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<footer th:replace="fragments/administration/common :: adminFooter"></footer>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: adminButton"></th:block>
	<div th:replace="fragments/administration/common :: adminTheme"></div>

	<th:block th:replace="fragments/administration/common :: adminScript"></th:block>
</body>

</html>