<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/administration/common :: adminHead"></head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="fragments/administration/common :: adminHeader"></header>
		<th:block th:replace="fragments/administration/common :: adminNav"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">사이트관리</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">사이트관리</a></li>
										<li class="breadcrumb-item active">이메일 수신관리</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-8">
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">고객문의 EMAIL 수신관리</h4>
								</div><!-- end card header -->
								<div class="card-body">
									<div class="live-preview">
										<div>
											<p class="text-muted"># 원하는 EMAIL 입력 후 
												<code>Enter 키를 통해</code> 등록 후 [등록버튼]을 눌러 주세요.
											</p>
											<p class="text-muted"># EMAIL 삭제는 
												<code>여러개를 선택하여</code> 동시에 삭제할 수 있습니다.
											</p>
											<div class="row g-3">
												<div class="col-lg-4">
													<input class="form-control"
													id="noticeCategories" 
													data-choices data-choices-limit="3" 
													data-choices-removeItem 
													type="text" 
													/>
													<button class="btn btn-primary ml-5"
													type="button">EMAIL 등록하기</button>
												</div>
												<div class="col-lg-4">
													<select style="margin-bottom:24px;height:100px;" class="form-select" multiple aria-label="multiple select example">
	                                                    <option selected>EMAIL</option>
	                                                    <option value="1">EMAIL</option>
	                                                    <option value="2">EMAIL</option>
	                                                    <option value="3">EMAIL</option>
	                                                </select>
													<button class="btn btn-danger" type="button">삭제</button>
												</div>
												<div class="col-lg-4">
													<div class="input-group" style="margin-bottom:24px;">
														<span class="input-group-text">메시지</span>
			                                            <textarea style="height:100px;"
			                                            placeholder="하나의 메시지만 등록가능하며 등록된 내용이 없는 경우 기본 알림메시지가 전송됩니다."
			                                             class="form-control" aria-label="With textarea" rows="4"></textarea>
			                                        </div>
													<button class="btn btn-primary" type="button">메시지등록</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">비규격주문 EMAIL 수신관리</h4>
								</div><!-- end card header -->
								<div class="card-body">
									<div class="live-preview">
										<div>
											<p class="text-muted"># 원하는 EMAIL 입력 후 
												<code>Enter 키를 통해</code> 등록 후 [등록버튼]을 눌러 주세요.
											</p>
											<p class="text-muted"># EMAIL 삭제는 
												<code>여러개를 선택하여</code> 동시에 삭제할 수 있습니다.
											</p>
											<div class="row g-3">
												<div class="col-lg-4">
													<input class="form-control"
													id="noticeCategories" 
													data-choices data-choices-limit="3" 
													data-choices-removeItem 
													type="text" 
													/>
													<button class="btn btn-primary ml-5"
													type="button">EMAIL 등록하기</button>
												</div>
												<div class="col-lg-4">
													<select style="margin-bottom:24px;height:100px;" class="form-select" multiple aria-label="multiple select example">
	                                                    <option selected>EMAIL</option>
	                                                    <option value="1">EMAIL</option>
	                                                    <option value="2">EMAIL</option>
	                                                    <option value="3">EMAIL</option>
	                                                </select>
													<button class="btn btn-danger" type="button">삭제</button>
												</div>
												<div class="col-lg-4">
													<div class="input-group" style="margin-bottom:24px;">
														<span class="input-group-text">메시지</span>
			                                            <textarea style="height:100px;"
			                                            placeholder="하나의 메시지만 등록가능하며 등록된 내용이 없는 경우 기본 알림메시지가 전송됩니다."
			                                             class="form-control" aria-label="With textarea" rows="4"></textarea>
			                                        </div>
													<button class="btn btn-primary" type="button">메시지등록</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">사이트접속자 EMAIL 수신관리</h4>
								</div><!-- end card header -->
								<div class="card-body">
									<div class="live-preview">
										<div>
											<p class="text-muted"># 원하는 EMAIL 입력 후 
												<code>Enter 키를 통해</code> 등록 후 [등록버튼]을 눌러 주세요.
											</p>
											<p class="text-muted"># EMAIL 삭제는 
												<code>여러개를 선택하여</code> 동시에 삭제할 수 있습니다.
											</p>
											<div class="row g-3">
												<div class="col-lg-4">
													<input class="form-control"
													id="noticeCategories" 
													data-choices data-choices-limit="3" 
													data-choices-removeItem 
													type="text" 
													/>
													<button class="btn btn-primary ml-5"
													type="button">EMAIL 등록하기</button>
												</div>
												<div class="col-lg-4">
													<select style="margin-bottom:24px;height:100px;" class="form-select" multiple aria-label="multiple select example">
	                                                    <option selected>EMAIL</option>
	                                                    <option value="1">EMAIL</option>
	                                                    <option value="2">EMAIL</option>
	                                                    <option value="3">EMAIL</option>
	                                                </select>
													<button class="btn btn-danger" type="button">삭제</button>
												</div>
												<div class="col-lg-4">
													<div class="input-group" style="margin-bottom:24px;">
														<span class="input-group-text">메시지</span>
			                                            <textarea style="height:100px;"
			                                            placeholder="하나의 메시지만 등록가능하며 등록된 내용이 없는 경우 기본 알림메시지가 전송됩니다."
			                                             class="form-control" aria-label="With textarea" rows="4"></textarea>
			                                        </div>
													<button class="btn btn-primary" type="button">메시지등록</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">고객문의 EMAIL 수신관리</h4>
								</div><!-- end card header -->
								<div class="card-body">
									<div class="live-preview">
										 <div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheck6" checked>
                                                <label class="form-check-label" for="formCheck6">
                                                    고객문의 EMAIL 수신 동의
                                                </label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheck7" checked>
                                                <label class="form-check-label" for="formCheck7">
                                                    비규격주문 EMAIL 수신 동의
                                                </label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheck8" checked>
                                                <label class="form-check-label" for="formCheck8">
                                                    사이트 접속자분석 EMAIL 수신 동의
                                                </label>
                                            </div>
                                            <button class="btn btn-primary ml-5" type="button" disabled>EMAIL 수신상태변경</button>
                                        </div>
									</div>
								</div>
							</div>
						</div>
						<!--end col-->
					</div>
				</div>
			</div>
			<footer th:replace="fragments/administration/common :: adminFooter"></footer>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: adminButton"></th:block>
	<div th:replace="fragments/administration/common :: adminTheme"></div>

	<th:block th:replace="fragments/administration/common :: adminScript"></th:block>
</body>

</html>