<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/order/common :: surveyHead"></head>

<body>

	<th:block th:replace="fragments/front/order/common :: surveyHeader"></th:block>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
				</div>
				<div class="col-9">
					<div id="social">
						<ul>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div id="wizard_container">
				<form name="example-1" id="wrapped" method="POST">
					<input id="website" name="website" type="text" value="">
					<div id="middle-wizard">

						<div class="step" data-state="branchtype" id="model">
							<div class="question_title">
								<h3>[하부장] 비규격 주문 PROCESS</h3>
								<p># 하단 보기에서 원하시는 하부장 모델을 선택 해 주세요.</p>
							</div>
							<div class="row">
								<div class="col-lg-12 step-process-wrap">
									<a class="active">1. 모델 선택</a>
									<a>2. 색상 선택</a>
									<a>3. 형태 선택</a>
									<a>4. 사이즈 선택</a>
									<a>5. 대리석 색상 선택</a>
									<a>6. 세면대 형태 선택</a>
									<a>7. 도어 종류 선택</a>
									<a>8. 손잡이 선택</a>
									<a>9. 손잡이 색상 선택</a>
									<a>10. 입력사항 확인</a>
									<a>11. 신청완료</a>
								</div>
								<div class="col-lg-4 animated zoomIn delay-normal">
									<div class="item">
										<input 
											id="심플하부장" 
											type="radio" 
											name="model" 
											value="color"
											class="required">
										<label for="심플하부장"><img src="/front/order/img/seo_icon_1.svg"
												alt=""><strong>심플하부장</strong></label>
									</div>
								</div>
								<div class="col-lg-4 animated zoomIn delay-medium">
									<div class="item">
										<input 
											id="클린하부장"  
											type="radio" 
											name="model" 
											value="color"
											class="required">
										<label for="클린하부장"><img src="/front/order/img/web_development_icon_1.svg"
												alt=""><strong>클린하부장</strong></label>
									</div>
								</div>
								<div class="col-lg-4 animated zoomIn delay-fast">
									<div class="item">
										<input 
											id="프리미엄하부장" 
											type="radio"
											name="model" 
											value="color"
											class="required">
										<label for="프리미엄하부장"><img src="/front/order/img/design_icon_1.svg"
												alt=""><strong>프리미엄하부장</strong></label>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="color">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 하부장[LOW]의 색상을 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a class="active">2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="HW" 
												type="radio" 
												name="color"
												value="form" 
												class="required">
											<label for="HW"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>HW</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="HB" 
												type="radio" 
												name="color"
												value="form" 
												class="required">
											<label for="HB"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>HB</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="HC" 
												type="radio" 
												name="color"
												value="form" 
												class="required">
											<label for="HC"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>HC</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="HG" 
												type="radio" 
												name="color"
												value="form" 
												class="required">
											<label for="HG"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>HG</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="DB" 
												type="radio" 
												name="color"
												value="form" 
												class="required">
											<label for="DB"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>DB</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="HN" 
												type="radio" 
												name="color"
												value="form" 
												class="required">
											<label for="HN"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>HN</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="LW" 
												type="radio" 
												name="color"
												value="form" 
												class="required">
											<label for="LW"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>LW</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="form">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 하부장[LOW]의 형태를 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a class="active">3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="다리형" 
												type="radio" 
												name="form"
												value="size" 
												class="required">
											<label for="다리형"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>다리형</strong></label>
										</div>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input 
												id="벽걸이형" 
												type="radio" 
												name="form"
												value="size"  
												class="required">
											<label for="벽걸이형"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>벽걸이형</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
							
							
						<div class="branch" id="size">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 원하시는 하부장[LOW]의 사이즈 입력 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a class="active">4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast"
										style="margin:0 auto; margin-top:20px;">
										<div class="box_general">
											<h6 class="add_bottom_15">희망하시는 플랩장의 가로/세로/깊이 사이즈를 입력 해 주세요.</h6>
											<input 
											type="checkbox" 
											name="size" 
											value="marble_color" 
											style="width:0px; height:0px;"
											checked>
											<div class="row" style="margin-bottom:20px;">
												<div class="item col-lg-12">
													<input 
													name="lowWidth"
													type="text" 
													placeholder="가로 : 166cm" 
													class="qty form-control required">
												</div>
												<div class="item col-lg-12">
													<input 
													name="lowHeight"
													type="text" 
													placeholder="세로 : 166cm" 
													class="qty form-control required">
												</div>
												<div class="item col-lg-12">
													<input 
													name="lowDepth"
													type="text" 
													placeholder="깊이 : 166cm" 
													class="qty form-control required">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="marble_color">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 원하시는 대리석 색상을 선택해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a class="active">5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="라토나[트라이스톤]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="라토나[트라이스톤]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>라토나[트라이스톤]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="레이니스카이[트라이스톤]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="레이니스카이[트라이스톤]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>레이니스카이[트라이스톤]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="샌디드크림[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="샌디드크림[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>샌디드크림[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="스카디[트라이스톤]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="스카디[트라이스톤]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>스카디[트라이스톤]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="스카디화이트[트라이스톤]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="스카디화이트[트라이스톤]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>스카디화이트[트라이스톤]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="아스펜그레이[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="아스펜그레이[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>아스펜그레이[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="아스펜스노우[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="아스펜스노우[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>아스펜스노우[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="아스펜엘더[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="아스펜엘더[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>아스펜엘더[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="오로라그레이" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="오로라그레이"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>오로라그레이</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="오로라블랑" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="오로라블랑"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>오로라블랑</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="오로라비스크" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="오로라비스크"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>오로라비스크</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="테라조베네치아[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="테라조베네치아[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>테라조베네치아[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="페블에버니[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="페블에버니[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>페블에버니[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="페블츄파로사[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="페블츄파로사[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>페블츄파로사[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="페블프러스트[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="페블프러스트[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>페블프러스트[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="페블사라토카[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="페블사라토카[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>페블사라토카[스타론]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-normal">
										<div class="item">
											<input 
											id="퓨어화이트[스타론]" 
											name="marble_color" 
											type="radio"
											value="washstand" 
											class="required">
											<label for="퓨어화이트[스타론]"><img src="/front/order/img/seo_icon_3.svg"
													alt=""><strong>퓨어화이트[스타론]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="washstand">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 하부장의 세면대를 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a class="active">6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="탑볼형" 
											type="radio" 
											name="washstand"
											value="washstand_topball" 
											class="required">
											<label for="탑볼형"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>탑볼형</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="타원형언더볼[CL-509K]" 
											type="radio" 
											name="washstand"
											value="washstand_direction" 
											class="required">
											<label for="타원형언더볼[CL-509K]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>타원형언더볼[CL-509K]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="사각언더볼[AS밀라노0488]" 
											type="radio" 
											name="washstand"
											value="washstand_direction" 
											class="required">
											<label for="사각언더볼[AS밀라노0488]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>사각언더볼[AS밀라노0488]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="도기매립[히든도기포함]" 
											type="radio" 
											name="washstand"
											value="washstand_direction" 
											class="required">
											<label for="도기매립[히든도기포함]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>도기매립[히든도기포함]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="대리석세면대" 
											type="radio" 
											name="washstand"
											value="washstand_direction" 
											class="required">
											<label for="대리석세면대"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>대리석세면대</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="washstand_topball">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 탑볼형 세면대를 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a class="active">6.1 탑볼형 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="탑볼형" 
											type="radio" 
											name="washstand_topball"
											value="washstand_direction" 
											class="required">
											<label for="탑볼없음"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>탑볼없음</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="히든바스01" 
											type="radio" 
											name="washstand_topball"
											value="washstand_direction" 
											class="required">
											<label for="히든바스01"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>히든바스01</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="히든바스02" 
											type="radio" 
											name="washstand_topball"
											value="washstand_direction" 
											class="required">
											<label for="히든바스02"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>히든바스02</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="히든바스03" 
											type="radio" 
											name="washstand_topball"
											value="washstand_direction" 
											class="required">
											<label for="히든바스03"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>히든바스03</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="washstand_direction">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[플랩장] 비규격 주문 PROCESS</h3>
									<p># LED 추가 여부를 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a class="active">6.1 세면대 위치 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="좌측[LEFT]" 
											type="radio" 
											name="washstand_direction"
											value="door" 
											class="required">
											<label for="좌측[LEFT]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>좌측[LEFT]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="중앙[CENTER]" 
											type="radio" 
											name="washstand_direction"
											value="door" 
											class="required">
											<label for="중앙[CENTER]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>중앙[CENTER]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="우측[RIGHT]" 
											type="radio" 
											name="washstand_direction"
											value="door" 
											class="required">
											<label for="우측[RIGHT]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>우측[RIGHT]</strong></label>
										</div>
									</div>
									
								</div>
							</div>
						</div>

						<div class="branch" id="door">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 도어의 종류를 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a class="active">7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="여닫이식" 
											type="radio" 
											name="door"
											value="door_count" 
											class="required">
											<label for="여닫이식"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>여닫이식</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="슬라이드식" 
											type="radio" 
											name="door"
											value="handle" 
											class="required">
											<label for="슬라이드식"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>슬라이드식</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="서랍식" 
											type="radio" 
											name="door"
											value="handle" 
											class="required">
											<label for="서랍식"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>서랍식</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="혼합식" 
											type="radio" 
											name="door"
											value="handle" 
											class="required">
											<label for="혼합식"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>혼합식</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="branch" id="door_count">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 도어 개수를 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a class="active">7.1 도어 개수 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="1개[ONE]" 
											type="radio" 
											name="door_count"
											value="handle" 
											class="required">
											<label for="1개[ONE]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>1개[ONE]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="2개[TWO]" 
											type="radio" 
											name="door_count"
											value="handle" 
											class="required">
											<label for="2개[TWO]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>2개[TWO]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="3개[THREE]" 
											type="radio" 
											name="door_count"
											value="handle" 
											class="required">
											<label for="3개[THREE]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>3개[THREE]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="4개[FOUR]" 
											type="radio" 
											name="door_count"
											value="handle" 
											class="required">
											<label for="4개[FOUR]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>4개[FOUR]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
							
						<div class="branch" id="handle">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 손잡이를 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a class="active">8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="손잡이추가없음" 
											type="radio" 
											name="handle"
											value="handle_color" 
											class="required">
											<label for="손잡이추가없음"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>손잡이추가없음</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="D형310손잡이" 
											type="radio" 
											name="handle"
											value="d_handle_color" 
											class="required">
											<label for="D형310손잡이"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>D형310손잡이</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="하프손잡이" 
											type="radio" 
											name="handle"
											value="h_handle_color" 
											class="required">
											<label for="하프손잡이"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>하프손잡이</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="볼타입손잡이" 
											type="radio" 
											name="handle"
											value="b_handle_color" 
											class="required">
											<label for="볼타입손잡이"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>볼타입손잡이</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="d_handle_color">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 손잡이의 색상을 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a class="active">9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="D형골드[GOLD]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="D형골드[GOLD]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>골드[GOLD]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="D형크롬[CROM]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="D형크롬[CROM]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>크롬[CROM]</strong></label>
										</div>
									</div>
									<div class="col-lg-4 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="D형흑니켈[NICKEL]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="D형흑니켈[NICKEL]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>흑니켈[NICKEL]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="h_handle_color">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 손잡이의 색상을 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a class="active">9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="하프화이트[WHITE]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="하프화이트[WHITE]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>화이트[WHITE]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="하프블랙[BLACK]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="하프블랙[BLACK]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>블랙[BLACK]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="하프그레이[GRAY]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="하프그레이[GRAY]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>하프그레이[GRAY]</strong></label>
										</div>
									</div>
									<div class="col-lg-3 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="하프크림[CREAM]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="하프크림[CREAM]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>크림[CREAM]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="branch" id="b_handle_color">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 손잡이의 색상을 선택 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a class="active">9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="볼타입골드[GOLD]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="볼타입골드[GOLD]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>골드[GOLD]</strong></label>
										</div>
									</div>
									<div class="col-lg-6 animated zoomIn delay-fast">
										<div class="item">
											<input 
											id="볼타입크롬[CROM]" 
											type="radio" 
											name="handle_color"
											value="check" 
											class="required">
											<label for="볼타입크롬[CROM]"><img src="/front/order/img/seo_icon_2.svg"
													alt=""><strong>크롬[CROM]</strong></label>
										</div>
									</div>
								</div>
							</div>
						</div>
							
						<div class="branch" id="check">
							<div class="step" data-state="branchtype">
								<div class="question_title">
									<h3>[하부장] 비규격 주문 PROCESS</h3>
									<p># 선택하신 옵션을 확인 해 주세요.</p>
								</div>
								<div class="row">
									<div class="col-lg-12 step-process-wrap">
										<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a class="active">10. 입력사항 확인</a>
										<a>11. 신청완료</a>
									</div>
									<div class="row">
										<input 
											type="checkbox" 
											name="check" 
											value="end" 
											style="width:0px; height:0px;"
											checked>
										<div class="col-lg-6 animated zoomIn delay-fast"style="margin:0 auto;margin-top:20px;">
											
											<div class="box_general">
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowModel"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowColor"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowForm"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowWidth"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowHeight"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowDepth"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowHandleColor"
													class="form-control"
													>
												</div>
											</div>
										</div>
										<div class="col-lg-6 animated zoomIn delay-fast"style="margin:0 auto;margin-top:20px;">
											<div class="box_general">
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowMarbleColor"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowWashstand"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowTopWashstand"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowWashstandPosition"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowDoor"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowDoorCount"
													class="form-control"
													>
												</div>
												<div class="form-group">
													<input 
													type="text" 
													disabled
													id="lowHandle"
													class="form-control"
													>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="submit step" id="end">
							<div class="question_title">
								<h3>[하부장] 비규격 주문 PROCESS</h3>
								<p># 신청이 완료 되었습니다. 개인정보를 입력 해 주세요.</p>
							</div>
							<div class="row justify-content-center">
								<div class="col-lg-12 step-process-wrap">
									<a>1. 모델 선택</a>
										<a>2. 색상 선택</a>
										<a>3. 형태 선택</a>
										<a>4. 사이즈 선택</a>
										<a>5. 대리석 색상 선택</a>
										<a>6. 세면대 선택</a>
										<a>7. 도어 종류 선택</a>
										<a>8. 손잡이 선택</a>
										<a>9. 손잡이 색상 선택</a>
										<a>10. 입력사항 확인</a>
										<a class="active">11. 신청완료</a>
								</div>
								<div class="col-lg-6 animated zoomIn delay-fast"style="margin:0 auto;margin-top:20px;">
									<div class="box_general">
										<div class="form-group">
											<input type="text" name="name" id="name" class="required form-control"
												placeholder="고객님의 성함을 입력 해 주세요.">
										</div>
										<div class="form-group">
											<input type="text" name="email" id="email" class="required form-control"
												placeholder="이메일 주소를 입력 해 주세요.">
										</div>
										<div class="form-group">
											<input type="text" name="phone" id="phone" class="form-control"
												placeholder="연락처를 입력 해 주세요.">
										</div>
										<div class="form-group add_bottom_30">
											<div class="styled-select">
												<textarea class="form-control" style="height:100px; margin-bottom:0;"
													placeholder="추가로 남기실 메시지를 입력 해 주세요."
													id="addedMessage"
													name="addedMessage"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="bottom-wizard">
						<button type="button" name="backward" class="backward">뒤로가기 </button>
						<button type="button" name="forward" class="forward">다음으로 </button>
						<button type="button" name="process" id="submitBtn" class="submit">제출하기 </button>
					</div>
				</form>
			</div>
		</div>
	</main>

	<th:block th:replace="fragments/front/order/common :: surveyFooter('low')"></th:block>
	<script src="/front/order/js/lowOrder.js"></script>
</body>

</html>