<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/clean/common :: cleanHead"></head>

<body class="home home-3 title-3">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v3"
			th:replace="~{fragments/front/clean/common :: cleanHeader(${menuList})}">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title" style="background:url('/front/clean/new/b03.png');">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									오시는 길
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/">HOME</a><span class="delimiter"></span>오시는 길
							</div>
						</div>
					</div>

					<div id="content" class="site-content" role="main" style="margin-bottom:50px;">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="page-my-account">
									<div class="my-account-wrap clearfix">
										<nav class="my-account-navigation">
											<ul class="nav nav-tabs">
												<li class="nav-item">
													<a class="nav-link active" data-toggle="tab" href="#dashboard"
														role="tab"> 히든바스 이천공장
														오시는길
													</a>
													<div class="address-text-wrap">
														<p>주소 : 충남 논산시 채운면 채운로 377</p>
														<p>대표변호 : 041) 742-7557~8</p>
														<p>팩스 : 031) 635-7559</p>
													</div>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#orders" role="tab"> 히든바스 논산공장 오시는길</a>
												</li>
												<div class="address-text-wrap">
													<p>주소: 경기도 이천시 백사면
														청백리로 641-11
													</p>
													<p>대표번호 : 031) 8011-3660</p>
													<p>팩스 : 031) 8011-3661</p>
												</div>
											</ul>
										</nav>
										<div class="my-account-content tab-content">
											<div class="tab-pane fade show active" id="dashboard" role="tabpanel">
												<div class="my-account-dashboard">
													<iframe
														src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.558847573314!2d127.49261190000001!3d37.329276199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35635bd6ce44c3c9%3A0x3e8c43482e73912!2z6rK96riw64-EIOydtOyynOyLnCDrsLHsgqzrqbQg7LKt67Cx66as66GcIDY0MS0xMQ!5e0!3m2!1sko!2skr!4v1712026319964!5m2!1sko!2skr"
														width="100%" height="500" style="border:0;" allowfullscreen=""
														loading="lazy"
														referrerpolicy="no-referrer-when-downgrade"></iframe>
												</div>
												
											</div>
											<div class="tab-pane fade" id="orders" role="tabpanel">
												<div class="my-account-orders">
													<iframe
														src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3221.6225241824563!2d127.0719758764016!3d36.15140320400229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3570092fac19e11f%3A0x66781d067add633f!2z7Lap7LKt64Ko64-EIOuFvOyCsOyLnCDssYTsmrTrqbQg7LGE7Jq066GcIDM3Nw!5e0!3m2!1sko!2skr!4v1712026386840!5m2!1sko!2skr"
														width="100%" height="500" style="border:0;" allowfullscreen=""
														loading="lazy"
														referrerpolicy="no-referrer-when-downgrade"></iframe>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer id="site-footer" class="site-footer background"
			th:replace="fragments/front/clean/common :: cleanFooter">
		</footer>
	</div>
	<th:block th:replace="fragments/front/clean/common :: cleanScript"></th:block>
</body>

</html>