<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/clean/common :: cleanHead"></head>

<body class="home home-6 title-6">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v3" th:replace="fragments/front/clean/common :: cleanHeader">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title" style="background:url('/front/clean/new/b01.png');">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									회사연혁
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/">HOME</a><span class="delimiter"></span>회사연혁
							</div>
						</div>
					</div>
					<div id="content" class="site-content" role="main">


						<section class="section section-padding m-b-70 m-t-70">
							<div class="section-container">
								<!-- Block Banners -->
								<div class="block block-banners banners-effect">
									<div class="block-widget-wrap">
										<div class="timeline">
											<div class="container">
												<div class="row">
													<div class="col-lg-12">
														<div class="timeline-container">
															<div class="timeline-end">
																<p>2021 ~ NOW</p>
															</div>
															<div class="timeline-continue">

																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																			2024.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 신제품 출시</h3>
																				<p>미니멀 손잡이(J형 엣지) 및 도장 제품 라인업을 출시.</p>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																			2023.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 신제품 출시</h3>
																				<p>신규 라운드장 라인업을 출시.</p>
																			</div>
																			<div
																				class="timeline-icon d-md-block d-none">
																				<i class="fa fa-business-time"></i>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																			2023.
																		</p>
																	</div>
																</div>
																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																			2021.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 회사매출성장</h3>
																				<p>회사 연 매출 12,000,000,000원 달성.</p>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-12">
																		<div class="timeline-year">
																			<p>2010 ~ 2020</p>
																		</div>
																	</div>
																</div>

																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																			2020.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 회사매출성장</h3>
																				<p>LED 거울 라인업 신제품 출시.</p>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																			2020.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 회사매출성장</h3>
																				<p>회사 연 매출 10,000,000,000원 달성</p>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																			2020.
																		</p>
																	</div>
																</div>

																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																			2017.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 자회사 설립</h3>
																				<p>거울 전문 제조기업 히든 하이텍을 설립.</p>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																			2016.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 공장 설립</h3>
																				<p>경기도 이천 공장을 설립하여 공장 이전.</p>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																			2016.
																		</p>
																	</div>
																</div>
																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																			2015.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 제조 공장 설립</h3>
																				<p>경기도 광주 제 2공장을 설립.</p>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																			2011.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 제품소재 변경</h3>
																				<p>PS재질 욕실장으로 소재를 변경.</p>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																			2011.
																		</p>
																	</div>
																</div>
																<div class="row">
																	<div class="col-12">
																		<div class="timeline-year">
																			<p>창립 ~ 2010</p>
																		</div>
																	</div>
																</div>

																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																			2010.
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 회사브랜드 변경</h3>
																				<p>욕실장 전문 기업 Hidden Bath로 상호를 변경.</p>
																			</div>
																		</div>
																	</div>
																</div>

															</div>
															<div class="timeline-start">
																<p>1996. HiddenBath 창립</p>
															</div>
															<div class="timeline-launch">
																<div class="timeline-box">
																	<div class="timeline-text">
																		<h3>회사 창립</h3>
																		<p>충남 논산 사출장 전문 제조기업 부일기업 설립.</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<footer id="site-footer" class="site-footer background"
			th:replace="fragments/front/clean/common :: cleanFooter">
		</footer>
	</div>
	<th:block th:replace="fragments/front/clean/common :: cleanScript"></th:block>
</body>

</html>