<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/clean/common :: cleanHead"></head>

<body class="home home-6 title-6">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v3" th:replace="fragments/front/clean/common :: cleanHeader">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title" style="background:url('/front/clean/new/b01.png');">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									회사연혁
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/">HOME</a><span class="delimiter"></span>회사연혁
							</div>
						</div>
					</div>
					<div id="content" class="site-content" role="main">


						<section class="section section-padding m-b-70 m-t-70">
							<div class="section-container">
								<!-- Block Banners -->
								<div class="block block-banners banners-effect">
									<div class="block-widget-wrap">
										<div class="timeline">
											<div class="container">
												<div class="row">
													<div class="col-lg-12">
														<div class="timeline-container">
															<div class="timeline-end">
																<p>History of Company</p>
															</div>
															<div class="timeline-continue">

																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																			
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>HiddenBath 신제품 출시 <span class="year-text">2024.</span></h3>
																				<div class="history-image-wrap d-flex">
																					<img src="/front/clean/sample/1.jpg" alt="Banner Image">
																				</div>
																				<p>불필요한 장식이나 요소를 최소화하여 간결하고 깔끔한 스타일의</p>
																				<p>미니멀 손잡이(J형 엣지) 및 도장 제품 라인업을 출시하여</p>
																				<p>욕실 가구 시장에 새로운 도전을 시작 하였습니다.</p>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3><span class="year-text">2023.</span> HiddenBath 신제품 출시</h3>
																				<div class="history-image-wrap d-flex">
																					<img src="/front/clean/sample/1.jpg" alt="Banner Image">
																				</div>
																				<p>부드러운 라인속에 깔끔함을 겸비한 신규 '라운드 시리즈'</p>
																				<p>라인업을 출시 하였습니다.</p>
																			</div>
																			
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																		</p>
																	</div>
																</div>
																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>제조설비 확대설치 <span class="year-text">2022.</span></h3>
																				<p>컴퓨터 자동화 기기 CNC 및 PUR 엣지 벤딩기 2대를 추가로 도입하여</p>
																				<p>더욱 빠른 제조공정은 물론 정밀한 시공 역량을 확충 하였습니다.</p>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3><span class="year-text">2020.</span> HiddenBath 신제품 출시</h3>
																				<div class="history-image-wrap d-flex">
																					<img src="/front/clean/sample/1.jpg" alt="Banner Image">
																				</div>
																				<p>거울을 통해 욕실에 다채로운 감성을 더할 수 있는</p>
																				<p>'LED 거울' 라인업을 출시 하였습니다.</p>
																			</div>
																			
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																		</p>
																	</div>
																</div>

																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>제조설비 확대설치 <span class="year-text">2017.</span></h3>
																				<p>'거울 전문 제조기업' 히든하이텍을 설립 하였으며,</p>
																				<p>CNC 유리 재단기 1대를 추가로 도입하였습니다.</p>
																			</div>
																		</div>
																	</div>
																</div>


																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3><span class="year-text">2016.</span> 본사 이전</h3>
																				<p>본사를 경기도 이천으로 이전하며 히든바스 이천공장을 설립 하였습니다.</p>
																				<p>CNC 유리 재단기 1대를 추가로 도입하였습니다.</p>
																			</div>
																			
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																		</p>
																	</div>
																</div>
																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>제조설비 확대설치 <span class="year-text">2015.</span></h3>
																				<p>경기도 광주에 히든바스 제2 제조공장을 설립 하였습니다.</p>
																				<p>빠르고 정밀한 거울 시공을 통해 고객만족을 실현하고자 CNC 유리제단기를 도입하였습니다.</p>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3><span class="year-text">2011.</span> 소재 변경</h3>
																				<p>PS 재질의 욕실장으로 히든바스의 주력 제품의 소재를 변경하였으며,</p>
																				<p>이를 통해 시장에서의 차별화를 추구 하였습니다.</p>
																			</div>
																			
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																		</p>
																	</div>
																</div>

																<div class="row timeline-right">
																	<div class="col-md-6">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>상호 변경 <span class="year-text">2010.</span></h3>
																				<p>Hidden[숨겨진] 과 Bath[욕실] 의 합성어인 히든바스로</p>
																				<p>회사 상호를 변경 하였습니다.(욕실장 전문 제조 기업)</p>
																			</div>
																		</div>
																	</div>
																</div>
																
																<div class="row timeline-left">
																	<div class="col-md-6 d-md-none d-block">
																		<p class="timeline-date">
																		</p>
																	</div>
																	<div class="col-md-6">
																		<div class="timeline-box">
																			<div class="timeline-text">
																				<h3>기업 설립 <span class="year-text">1996.</span></h3>
																				<p>충남 논산에 사출장 전문 제조기억 '부일기업'을 설립 하였습니다.</p>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6 d-md-block d-none">
																		<p class="timeline-date">
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<footer id="site-footer" class="site-footer background"
			th:replace="fragments/front/clean/common :: cleanFooter">
		</footer>
	</div>
	<th:block th:replace="fragments/front/clean/common :: cleanScript"></th:block>
</body>

</html>