<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/front/clean/common :: cleanHead}"></head>

<body class="home home-3 title-3">
	<th:block th:replace="~{fragments/front/clean/common :: sessionCheck(${session.user})}"></th:block>
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v3"
			th:replace="~{fragments/front/clean/common :: cleanHeader}">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main">
						<section class="section m-b-70">
							<div class="item-info horizontal-center text-center vertical-middle main-text-section">
								<div class="content">
									<p class="main-subtitle">The Best of Bathroom Furniture Collections</p>
									<p class="main-subtitle">휴식과 위안 그리고 간결함에서 오는 진실된 아름다움</p>
									<h2 class="main-title">HIDDEN <strong>BATH</strong></h2>
								</div>
							</div>
							<div class="block block-sliders layout-6 nav-vertical">
								<div class="slick-sliders" data-autoplay="true" data-dots="false" data-nav="false"
									data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1"
									data-columns1440="1" data-columns="1">
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/new/bg01.jpg"
													alt="Image Slider">
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/newnew/bg06.jpg"
													alt="Image Slider">
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/newnew/bg03.jpg"
													alt="Image Slider">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="main-site-button-wrap">
								<a class="button-slider button-white col-md-4" href="#">비규격주문</a>
								<a class="button-slider button-white col-md-4" href="#">카달로그</a>
								<a class="button-slider button-white col-md-4" href="#">사이트검색</a>
							</div>
						</section>


						<section class="section section-padding p-t-50 p-b-50 m-b-0 scroll-section">
							<div class="section-container">
								<!--<div class="block block-intro service-title-wrap">
									<div class="block-widget-wrap">
										<div class="intro-text">
											히든바스는 앞선 기술력을 바탕으로 풍요로운 <strong>욕실문화를 창조</strong>하며, <br>
											다음과 같은 3가지의 <strong>핵심 서비스</strong>를 통해 고객과 소통합니다.
										</div>
									</div>
								</div>
								<div class="row service-wrap">
									<div class="col-lg-6 col-md-7 col-sm-12 sm-p-0">
										<div class="block block-newsletter layout-2 one-col align-left position-center">
											<div class="block-widget-wrap">
												<div class="newsletter-title-wrap">
													<h2 class="newsletter-title">히든바스만의 기술로 제작된 핵심 제품</h2>
													<div class="newsletter-text">욕실 공간을 아늑하고 화려하게.</div>
												</div>
												<div class="newsletter-form">
													<p>고급스럽고 다양한 제품</p>
													<span class="btn-submit">
														<a>이동하기</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-5 sm-p-0">
										<div class="block block-image text-center position-relative">
											<img width="700" height="500" src="/front/clean/newnew/s01.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="row service-wrap">
									<div class="col-md-5 sm-p-0 sm-m-b-15">
										<div class="block block-image text-center position-relative">
											<img width="700" height="500" src="/front/clean/newnew/s02.jpg" alt="">
										</div>
									</div>
									<div class="col-lg-6 col-md-7 col-sm-12 sm-p-0">
										<div class="block block-newsletter layout-2 one-col align-left position-center">
											<div class="block-widget-wrap">
												<div class="newsletter-title-wrap">
													<h2 class="newsletter-title">고객 맞춤형 주문 시스템</h2>
													<div class="newsletter-text">개인의 취향과 개성을 반영하다.</div>
												</div>
												<div class="newsletter-form">
													<p>Hidden Bath만의 차별화된 서비스</p>
													<span class="btn-submit">
														<a>이동하기</a>
													</span>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="row service-wrap">
									<div class="col-lg-6 col-md-7 col-sm-12 sm-p-0">
										<div class="block block-newsletter layout-2 one-col align-left position-center">
											<div class="block-widget-wrap">
												<div class="newsletter-title-wrap">
													<h2 class="newsletter-title"> 히든바스 제품 카달로그</h2>
													<div class="newsletter-text">친절하고 자세한 설명을 담다</div>
												</div>
												<div class="newsletter-form">
													<p>상세한 제품 카달로그 제공</p>
													<span class="btn-submit">
														<a>이동하기</a>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-5 sm-p-0">
										<div class="block block-image text-center position-relative">
											<img width="700" height="500" src="/front/clean/newnew/s03.jpg" alt="">
										</div>
									</div>
								</div>-->
								<div class="section mb-0 border-bottom-0" id="scroll-content">
									<div class="wrap01"></div>
									<div class="wrap02"></div>
									<div class="wrap03"></div>
									<div class="wrap04"></div>
									<div class="container clearfix" id="target-container">
										<div class="parallax-text target01">
											<div class="count-text left">
												<h1>반려동물의 건강을</h1>
												<h1>집에서 1분만에 확인</h1>
												<div class="text-block">
													<h5>당뇨병, 신부전, 구강 질환 등을</h5>
													<h5>집에서 간편하게 검사하고</h5>
												</div>
												<div class="text-block">
													<h5>병원비 걱정을 덜어주는 병원비 지원</h5>
													<h5>서비스까지 이용할 수 있습니다.</h5>
												</div>
											</div>
										</div>

										<div class="parallax-text target02">
											<div class="count-text left icon-text">
												<h1>엄격한 기준으로 고른</h1>
												<h1>제품을 만나보세요</h1>
												<div class="text-block mt-50">
													<h3><img class="mr-10"
															src="/front/clean/assets/img/main/icon/heart.png"
															width="20px;">건강을 생각한 제품
													</h3>
													<h5>믿고 쓸 수 있는 제품을 엄선했습니다.</h5>
												</div>
												<div class="text-block">
													<h3><img class="mr-10"
															src="/front/clean/assets/img/main/icon/fit.png"
															width="20px;">딱 맞는 제품 추천</h3>
													<h5>반려동물 건강 데이터를 기반으로</h5>
													<h5>알맞은 제품을 추천합니다.</h5>
												</div>
												<div class="text-block">
													<h3><img class="mr-10"
															src="/front/clean/assets/img/main/icon/box.png"
															width="20px;">안전한 배송</h3>
													<h5>자체 물류체인으로 안전하게 배송합니다.</h5>
												</div>
											</div>
										</div>

										<div class="parallax-text target03">
											<div class="count-text left">
												<h1>좋은 병원 찾는 것도</h1>
												<h1>핏펫에선 쉽게</h1>
												<div class="text-block mt-30">
													<h5>가장 가까운 병원 부터</h5>
													<h5>노령동물 전문병원까지</h5>
													<h5>꼭 맞는 병원을 찾아드려요.</h5>
												</div>
											</div>
											<div class="count-text-subtitle">
												<h4>2022년 기준 병원리뷰</h4>
												<h1>40만+</h1>
											</div>
										</div>

										<div class="parallax-text target03">
											<div class="count-text left">
												<h1>믿고 맡길</h1>
												<h1>병원 찾고</h1>
												<h1 class="mt-45">진료 예약까지</h1>
												<h1>한번에</h1>
											</div>
										</div>
									</div>
								</div>
								<div class="block block-posts layout-2" id="scroll-mobile">
									<div class="block-widget-wrap">
										<div class="block-title">
											<h2>히든바스의 제품들</h2>
											<p class="info-message">HiddenBath의 첨단 기술력을 통해 제작된 최신 제품을 바로 만나보세요.</p>
										</div>
										<div class="block-content">
											<div class="posts-wrap slick-wrap">
												<div class="slick-sliders" data-slidestoscroll="true" data-dots="true"
													data-nav="false" data-columns4="1" data-columns3="1" data-columns2="1"
													data-columns1="3" data-columns="3">
													<div class="post-grid post">
														<div class="post-inner">
															<div class="post-image">
																<a class="post-thumbnail" href="#">
																	<img
																		src="/front/clean/assets/img/slide/slide01.png">
																</a>
															</div>
														</div>
													</div>
													<div class="post-grid post">
														<div class="post-inner">
															<div class="post-image">
																<a class="post-thumbnail" href="#">
																	<img
																		src="/front/clean/assets/img/slide/slide02.png">
																</a>
															</div>
														</div>
													</div>
													<div class="post-grid post">
														<div class="post-inner">
															<div class="post-image">
																<a class="post-thumbnail" href="#">
																	<img
																		src="/front/clean/assets/img/slide/slide03.png">
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding top-border p-t-70 m-b-70">
							<div class="section-container">
								<div class="block block-products slider">
									<div class="block-widget-wrap">
										<div class="block-title">
											<h2>히든바스의 제품들</h2>
											<p class="info-message">HiddenBath의 첨단 기술력을 통해 제작된 최신 제품을 바로 만나보세요.</p>
										</div>
										<div class="block-content">
											<div class="content-product-list slick-wrap">
												<div class="slick-sliders products-list grid" data-slidestoscroll="true"
													data-dots="false" data-nav="1" data-columns4="1" data-columns3="2"
													data-columns2="3" data-columns1="3" data-columns1440="4"
													data-columns="4">
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/best/1.png"
																				class="hover-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/best/1-2.png"
																				class="post-image back" alt="">

																		</a>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">복합 1200 플랩장</a>
																	</h3>
																	<span class="price">[UP-9100]</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/best/2.png"
																				class="hover-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/best/2-1.png"
																				class="post-image back" alt="">
																		</a>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">누드 1200장</a>
																	</h3>
																	<span class="price">[HD-1G100-3]</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/best/3.png"
																				class="hover-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/best/3-1.png"
																				class="post-image back" alt="">

																		</a>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">라운드 소프장</a>
																	</h3>
																	<span class="price">[UP-2306]</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/best/4.png"
																				class="hover-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/best/4-1.png"
																				class="post-image back" alt="">
																		</a>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">라운드 미니멀장</a>
																	</h3>
																	<span class="price">[HD-2107]</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/best/5.png"
																				class="hover-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/best/5-1.png"
																				class="post-image back" alt="">

																		</a>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">라운드빌트 1도어장</a>
																	</h3>
																	<span class="price">[HD-7200]</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/best/6.png"
																				class="hover-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/best/6-1.png"
																				class="post-image back" alt="">
																		</a>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">미니멀 UP미니 상하단장</a>
																	</h3>
																	<span class="price">[UP-1107/UP-1207]</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/best/7.png"
																				class="hover-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/best/7-1.png"
																				class="post-image back" alt="">
																		</a>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">슬라이드 하부장</a>
																	</h3>
																	<span class="price">[ST-3426]</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="btn-all">
												<a class="button-outline" href="/productList">모든제품 보러가기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section content-outside background-1">
							<div class="container">
								<div class="block-title">
									<h2>히든바스의 제품 시공사례 갤러리</h2>
									<p class="info-message">HiddenBath는 시공 사례를 통해 서비스와 제품 품질에 대한 신뢰를 전합니다.</p>
								</div>
							</div>
							<div class="block block-banners slider fullwidth">
								<div class="section-column-wrap">
									<div class="block-widget-wrap">

										<div class="slick-wrap" style="position:relative;">
											<div class="slick-sliders" data-centermode="true" data-nav="true"
												data-dots="false" data-columns4="1" data-columns3="1" data-columns2="1"
												data-columns1="1" data-columns="1">
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="/constructionDetail">
																		<img width="900"
																			src="/front/clean/newnew/con01.png"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title"
																				href="/constructionDetail">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				상부장 제품명[제품코드]
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="/constructionDetail">
																		<img width="900"
																			src="/front/clean/newnew/con02.png"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title"
																				href="/constructionDetail">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				상부장 제품명[제품코드]
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="/constructionDetail">
																		<img width="900"
																			src="/front/clean/newnew/con03.png"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title"
																				href="/constructionDetail">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				상부장 제품명[제품코드]
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="/constructionDetail">
																		<img width="1080" height="584"
																			src="/front/clean/newnew/con04.png"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title"
																				href="/constructionDetail">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				상부장 제품명[제품코드]
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="/constructionDetail">
																		<img width="1080" height="584"
																			src="/front/clean/newnew/con05.png"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title"
																				href="/constructionDetail">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				상부장 제품명[제품코드]
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="/constructionDetail">
																		<img width="1080" height="584"
																			src="/front/clean/newnew/con06.png"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title"
																				href="/constructionDetail">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				상부장 제품명[제품코드]
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="/constructionDetail">
																		<img width="1080" height="584"
																			src="/front/clean/newnew/con07.png"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title"
																				href="/constructionDetail">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				상부장 제품명[제품코드] 시공사례
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="section m-b-0">
							<div class="container">
								<div class="block-title">
									<h2>히든바스의 제품들</h2>
									<p class="info-message">HiddenBath의 첨단 기술력을 통해 제작된 최신 제품을 바로 만나보세요.</p>
								</div>
							</div>
							<div class="block block-instagram slider no-space">
								<div class="slick-wrap">
									<div class="slick-sliders fullwidth" data-dots="false" data-item_row="1"
										data-nav="false" data-columns4="1" data-columns3="2" data-columns2="3"
										data-columns1="4" data-columns="5">
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/card/1.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/card/2.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/card/3.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/card/4.jpg" alt="#">
											</a>
										</div>
										<div class="item slick-slide">
											<a class="instagram" href="https://www.instagram.com">
												<img width="690" height="690" src="/front/clean/new/card/5.jpg" alt="#">
											</a>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--	<section class="section section-padding top-border p-t-70 m-b-70">
							<div class="section-container">
								<div class="block block-products slider">
									<div class="block-widget-wrap">
										<div class="block-title">
											<h2>Hidden Bath NEW Products</h2>
											<p class="info-message">HiddenBath의 첨단 기술력을 통해 제작된 최신 제품을 바로 만나보세요.</p>
										</div>
										<div class="block-content">
											<div class="content-product-list slick-wrap">
												<div class="slick-sliders products-list grid" data-slidestoscroll="true"
													data-dots="false" data-nav="1" data-columns4="1" data-columns3="2"
													data-columns2="3" data-columns1="3" data-columns1440="4"
													data-columns="4">
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/new/product/1.png"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/new/product/2.png"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">제품명[제품코드]</a>
																	</h3>
																	<span class="price">제품분류</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/new/product/4.png"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/new/product/5.png"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">제품명[제품코드]</a>
																	</h3>
																	<span class="price">제품분류</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/new/product/6.png"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/new/product/7.png"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">제품명[제품코드]</a>
																	</h3>
																	<span class="price">제품분류</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/new/product/8.png"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/new/product/9.png"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">제품명[제품코드]</a>
																	</h3>
																	<span class="price">제품분류</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/new/product/10.png"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/new/product/11.png"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">제품명[제품코드]</a>
																	</h3>
																	<span class="price">제품분류</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot latest">Latest</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="/productDetail">
																			<img width="600" height="600"
																				src="/front/clean/new/product/12.png"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/new/product/13.png"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a
																			href="/productDetail">제품명[제품코드]</a>
																	</h3>
																	<span class="price">제품분류</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="btn-all">
												<a class="button-outline" href="/productList">모든제품 보러가기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
-->
					</div>
				</div>
			</div>
		</div>

		<footer id="site-footer" class="site-footer background"
			th:replace="~{fragments/front/clean/common :: cleanFooter}">
		</footer>
	</div>
	<th:block th:replace="~{fragments/front/clean/common :: cleanScript}"></th:block>
	<th:block th:replace="~{fragments/front/clean/common :: floatingButton}"></th:block>
	<script src="/front/clean/assets/js/gsap.min.js"></script>
	<script src="/front/clean/assets/js/ScrollTrigger.min.js"></script>
	<script src="/front/clean/assets/js/animation.js"></script>
	<script src="/front/clean/assets/js/detail.js"></script>
</body>

</html>