<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover-active"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/administration/common :: adminHead"></head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="fragments/administration/common :: adminHeader"></header>
		<th:block th:replace="fragments/administration/common :: adminNav"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">제품관리</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">제품관리</a></li>
										<li class="breadcrumb-item active">제품 색상관리</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-8">
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">제품 색상관리</h4>
								</div><!-- end card header -->
								<div class="card-body">
									<div class="live-preview">
										<div>
											<p class="text-muted"># 원하는 색상 문구 및 이미지 입력 후 
												<code>Enter 키를 통해</code> 등록 후 [등록버튼]을 눌러 주세요.
											</p>
											<p class="text-muted"># 색상 삭제는 
												<code>여러개를 선택하여</code> 동시에 삭제할 수 있습니다.
											</p>
											<p class="text-muted"># <code>제품에 등록된 색상은</code> 제품에서 해당 사이즈 제거 후 삭제할 수 있습니다.
											</p>
											<div class="row g-3" style="margin-top:10px;">
												<div class="col-lg-12">
													<form 
													action="/admin/productColorInsert" 
													method="post" 
													enctype="multipart/form-data">
														<div class="row">
															<div class="col-lg-6">
				                                                <div>
				                                                    <label class="form-label">색상명칭</label>
				                                                    <input class="form-control"
				                                                    name="colorName" 
				                                                    required
				                                                    type="text">
				                                                </div>
				                                            </div>
				                                            <div class="col-lg-6">
				                                                <div>
				                                                    <label class="form-label">색상이미지</label>
				                                                    <input class="form-control"
				                                                    name="colorFile" 
				                                                    required
				                                                    type="file">
				                                                </div>
				                                            </div>
														</div>
														<button class="btn btn-primary" style="margin-top:10px;"
														type="submit">제품색상 등록하기</button>
													</form>
												</div>
												<div class="col-lg-12">
													<form action="/admin/productColorDelete" method="post">
														<select style="margin-bottom:24px;" 
														class="form-select" 
														name="text"
														multiple 
														aria-label="multiple select example"
														id="productSizeSelect">
															<option th:each="c:${colors}" th:text="${c.productColorSubject}" th:value="${c.id}"></option>
		                                                </select>
														<button id="productSizeDelBtn" class="btn btn-danger" type="submit">제품색상 삭제하기</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end col-->
					</div>
				</div>
			</div>
			<footer th:replace="fragments/administration/common :: adminFooter"></footer>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: adminButton"></th:block>
	<div th:replace="fragments/administration/common :: adminTheme"></div>

	<th:block th:replace="fragments/administration/common :: adminScript"></th:block>
	<script src="/administration/assets/js/productColorManager.js"></script>
</body>

</html>