<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/administration/common :: adminHead"></head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="fragments/administration/common :: adminHeader"></header>
		<th:block th:replace="fragments/administration/common :: adminNav"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">제품관리</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">제품관리</a></li>
										<li class="breadcrumb-item active">제품노출 순위관리</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">검색 필터</h4>
								</div>

								<div class="card-body">
									<p class="text-muted">
										# <code>검색 조건</code> 을 선택하여 원하는 검색을 진행할 수 있습니다.<br> 
										# 한 페이지에 보고 싶은 <code>검색 결과의 수</code> 를 조정할 수 있습니다.<br>
										# <code>제품명 / 분류명</code> 을 통해 검색이 가능합니다.<br> 
										# <code>체크박스를 체크한 상태</code> 로 검색 시 해당 단어가 포함된 모든 결과가 표시됩니다.
									</p>
									<div class="live-preview">
										<form action="/admin/productCenter/productOverall">
											<div class="row gy-2 gx-3 mb-3 align-items-center">
												<div class="col-sm-auto">
													<label class="visually-hidden">페이지사이즈</label> <select
														class="form-select" th:name="size" id="pageSize">
														<option>10개씩 보기</option>
														<option>30개씩 보기</option>
														<option>50개씩 보기</option>
														<option>100개씩 보기</option>
													</select>
												</div>
												<div class="col-sm-auto">
													<label class="visually-hidden">대분류</label> 
													<select 
														class="form-select" id="smallPanelBigSortSelect"
														name="bigId">
														<option selected value="">== 대분류 선택 ==</option>
													</select>
												</div>
												<div class="col-sm-auto">
													<label class="visually-hidden">중분류</label> <select
														class="form-select" id="smallPanelMiddleSortSelect"
														name="middleId">
														<option selected value="">== 중분류 선택 ==</option>
													</select>
												</div>
												<div class="col-sm-auto">
													<button type="submit" class="btn btn-primary">검색
														하기</button>
												</div>
												<div class="col-sm-auto">
													<div>
														<a href="#"
															class="btn btn-danger"> 검색 초기화</a>
													</div>
												</div>
												<div class="col-sm-auto">
													<div>
														<a href="#" class="btn btn-success"><i
															class="ri-add-line align-bottom me-1"></i> 제품등록</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">히든바스 제품노출 순위관리</h4>
                                </div>

                                <div class="card-body">
                                    <p class="text-muted"># <code>드래그 앤 드랍</code>을 통해 제품/소분류/중분류/대분류 사이의 표시순서를 변경할 수 있습니다.<br>
                                    # <code>같은 등급의 요소끼리만</code> 순서를 변경할 수 있습니다.<br>
                                    # 변경 완료 후 <code>확인 버튼</code>클릭시 변경된 순서로 적용 됩니다.<br>
                                    <div class="col-sm-auto">
										<div>
											<button id="indexChangeBtn" class="btn btn-success">컴포넌트 인덱스 변경</button>
										</div>
									</div>
                                    <div class="list-group col nested-list nested-sortable">
										<div class="list-group-item nested-1 sortable-items"> 
                                        	<span><i class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>제품 명칭</span>
                                        </div>
                                        <div class="list-group-item nested-1 sortable-items"> 
                                        	<span><i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>제품 명칭</span>
                                        </div>
                                        <div class="list-group-item nested-1 sortable-items"> 
                                        	<span><i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>제품 분류명칭</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example" style="margin-top:10px;">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">First</a>
							</li>
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">Last</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<footer th:replace="fragments/administration/common :: adminFooter"></footer>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: adminButton"></th:block>
	<div th:replace="fragments/administration/common :: adminTheme"></div>

	<th:block th:replace="fragments/administration/common :: adminScript"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" integrity="sha256-ipiJrswvAR4VAx/th+6zWsdeYmVae0iJuiR+6OqHJHQ=" crossorigin="anonymous"></script>
	<script th:inline="javascript">
   		var bigId = /*[[${bigId}]]*/ 'default';
   		var middleId = /*[[${middleId}]]*/ 'default';
    </script>
	<script src="/administration/assets/js/programProductManager.js"></script>
    <script src="/administration/assets/libs/sortablejs/Sortable.min.js"></script>
	<script src="/administration/assets/js/pages/nestable.init.js"></script>
</body>

</html>