<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="fragments/administration/common :: adminHead"></head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="fragments/administration/common :: adminHeader"></header>
		<th:block th:replace="fragments/administration/common :: adminNav"></th:block>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">제품관리</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">제품관리</a></li>
										<li class="breadcrumb-item active">제품 등록</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<form id="createproduct-form" autocomplete="off" class="needs-validation" novalidate>
						<div class="row">
							<div class="col-lg-8">
								<div class="card">
									<div class="card-body">
										<div class="mb-3">
											<label class="form-label" for="product-title-input">제품명</label>
											<input type="text" class="form-control" id="product-title-input" value=""
												placeholder="제품 이름을 입력 해 주세요." required>
										</div>
										<div class="mb-3">
											<label class="form-label" for="product-title-input">제품코드</label>
											<input type="text" class="form-control" id="product-title-input" value=""
												placeholder="제품 코드를 입력 해 주세요." required>
										</div>
										<div class="mb-3">
											<label class="form-label" for="product-title-input">제품타이틀</label>
											<input type="text" class="form-control" id="product-title-input" value=""
												placeholder="제품타이틀을 입력 해 주세요." required>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">제품이미지등록</h5>
									</div>
									<div class="card-body">
										<div class="mb-4">
											<h5 class="fs-15 mb-1">대표이미지</h5>
											<p class="text-muted">제품의 대표 이미지를 선택 해 주세요.</p>
											<div class="text-center">
												<div class="position-relative d-inline-block">
													<div class="position-absolute top-100 start-100 translate-middle">
														<label for="product-image-input" class="mb-0"
															data-bs-toggle="tooltip" data-bs-placement="right"
															title="Select Image">
															<div class="avatar-xs">
																<div
																	class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
																	<i class="ri-image-fill"></i>
																</div>
															</div>
														</label>
														<input class="form-control d-none" value=""
															id="product-image-input" type="file"
															accept="image/png, image/gif, image/jpeg">
													</div>
													<div class="avatar-lg">
														<div class="avatar-title bg-light rounded">
															<img src="" id="product-img" class="avatar-md h-auto" />
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="mb-4">
											<h5 class="fs-15 mb-1">제품 슬라이드이미지</h5>
											<p class="text-muted">제품의 슬라이드이미지를 선택 해 주세요.</p>

											<div class="dropzone">
												<div class="fallback">
													<input name="file" type="file" multiple>
												</div>
												<div class="dz-message needsclick">
													<div class="mb-3">
														<i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
													</div>

													<h5>이곳으로 파일을 드래그 해 주세요.</h5>
												</div>
											</div>

											<ul class="list-unstyled mb-0" id="dropzone-preview">
												<li class="mt-2" id="dropzone-preview-list">
													<div class="border rounded">
														<div class="d-flex p-2">
															<div class="flex-shrink-0 me-3">
																<div class="avatar-sm bg-light rounded">
																	<img data-dz-thumbnail
																		class="img-fluid rounded d-block" src="#"
																		alt="Product-Image" />
																</div>
															</div>
															<div class="flex-grow-1">
																<div class="pt-1">
																	<h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
																	<p class="fs-13 text-muted mb-0" data-dz-size></p>
																	<strong class="error text-danger"
																		data-dz-errormessage></strong>
																</div>
															</div>
															<div class="flex-shrink-0 ms-3">
																<button data-dz-remove
																	class="btn btn-sm btn-danger">Delete</button>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="mb-4">
											<h5 class="fs-15 mb-1">대표 다운로드파일</h5>
											<p class="text-muted">제품 다운로드 파일을 등록 해 주세요.</p>
											<div>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<ul class="nav nav-tabs-custom card-header-tabs border-bottom-0" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" data-bs-toggle="tab"
													href="#addproduct-general-info" role="tab">
													제품 사이즈등록
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-bs-toggle="tab" href="#addproduct-metadata"
													role="tab">
													제품 색상등록
												</a>
											</li>
										</ul>
									</div>
									
									<div class="card-body">
										<div class="tab-content">
											<div class="tab-pane active" id="addproduct-general-info" role="tabpanel">
												<div class="row">
													<div class="col-lg-12">
			                                            <div class="mt-4 mt-lg-0">
			                                                <h5 class="fs-14 mb-1">사이즈</h5>
			                                                <p class="text-muted">제품에 적용될 사이즈들을 선택 해 주세요.</p>
			                                                <form>
			                                                    <select required multiple="multiple" name="favorite_cars" id="multiselect-header">
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                        <option>사이즈</option>
			                                                    </select>
			                                                </form>
			                                            </div>
			                                        </div>
												</div>
											</div>

											<div class="tab-pane" id="addproduct-metadata" role="tabpanel">
												<div class="row">
													<div class="col-lg-12">
			                                            <div class="mt-4 mt-lg-0">
			                                                <h5 class="fs-14 mb-1">색상선택</h5>
			                                                <p class="text-muted">제품에 적용될 색상들을 선택 해 주세요.</p>
			                                                <form>
			                                                    <select required multiple="multiple" name="favorite_cars" id="multiselect-header02">
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                        <option>색상</option>
			                                                    </select>
			                                                </form>
			                                            </div>
			                                        </div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-end mb-3">
									<button type="submit" class="btn btn-success w-sm">제품등록</button>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">제품분류</h5>
									</div>
									<div class="card-body">
										<div class="mb-3">
											<label for="choices-publish-status-input" class="form-label">대분류</label>

											<select class="form-select" id="choices-publish-status-input" data-choices
												data-choices-search-false>
												<option value="Published">대분류</option>
												<option value="Published">대분류</option>
											</select>
										</div>

										<div>
											<label for="choices-publish-visibility-input"
												class="form-label">중분류</label>
											<select class="form-select" id="choices-publish-visibility-input"
												data-choices data-choices-search-false>
												<option value="Public" selected>중분류</option>
												<option value="Hidden">중분류</option>
											</select>
										</div>
									</div>
								</div>


								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">제품 태그</h5>
									</div>
									<div class="card-body">
										<p class="text-muted mb-2"> <a href="/admin/productTagManager"
												class="float-end text-decoration-underline">새로운태그등록</a>제품 태그 선택</p>
										<select class="form-select" id="choices-category-input"
											name="choices-category-input" data-choices data-choices-search-false>
											<option value="Appliances">태그</option>
											<option value="Appliances">태그</option>
											<option value="Appliances">태그</option>
											<option value="Appliances">태그</option>
											<option value="Appliances">태그</option>
										</select>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">제품설명</h5>
									</div>
									<div class="card-body">
										<p class="text-muted mb-2">제품 설명 문구를 입력 해 주세요.</p>
										<textarea class="form-control"
											placeholder="Must enter minimum of a 100 characters" rows="5"></textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<footer th:replace="fragments/administration/common :: adminFooter"></footer>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: adminButton"></th:block>
	<div th:replace="fragments/administration/common :: adminTheme"></div>

	<th:block th:replace="fragments/administration/common :: adminScript"></th:block>

	<script src="/administration/assets/libs/dropzone/dropzone-min.js"></script>
	<script src="/administration/assets/libs/multi.js/multi.min.js"></script>
	<script src="/administration/assets/js/productInsert.js"></script>
</body>

</html>